*{ 
    margin: 0px;
    padding: 0px;
}

/*Definição da aparência do corpo da página*/

body{
    background-image: url("https://readtothem.org/wp-content/uploads/2015/12/Geometric-Wallpaper-HD-34.jpg");
}

/*Ajustes barra do topo*/

.topo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    background-color: rgb(61, 0, 61);
    height: 5em;
    z-index: 1;
}

.topo > h1{
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.5em;
    padding: 3em;
}

.topo > .menu-links{
    padding-right: 3em;
}

.topo > .menu-links > a{
    color: aliceblue;
    padding: 0.5em;
}

/*Ajustes barra do rodapé*/

.rodape{
    display:flex;
    position:sticky;
    bottom:0;
    background-color:rgb(61, 0, 61);
    height: 5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rodape > .icones{
    padding-left:3em;
    display:flex;
    align-content: space-around; 
    gap: 0.7em;
}


.rodape > .btn-cont{
    padding-right: 3em;
    
}

.rodape > .btn-cont > a >.contato-btn{
    border-style: solid;
    border-color: aliceblue;
    border-width: 0.1em;
    padding:1em;
    background-color: rgb(46, 5, 83);
    color: aliceblue;
}

/*Ajustes no primeiro content*/

.container > .teste{
    display:flex;
    flex-direction: column;
}

.container > .teste > .content-1{
    display:flex;
    flex-wrap: wrap;
    flex:1 1 25em;
    justify-content: center;
    align-items:center;
    align-content: space-evenly;
    background-color: rgb(217, 176, 255);
    padding: 0.5em;
    opacity: 0.8;
}

.container > .teste > .content-1 > img{
    width:12em;
    border-radius: 60%;
    padding:3em;
}

.container > .teste > .content-1 > .content-text{
    width: 25%;
    padding: 3em;

}

.container > .teste > .content-1 > .content-text > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(32, 0, 61);
    font-size: 1.5em;
    padding-bottom:0.8em;
}

.container > .teste > .content-1 > .content-text > p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    text-align: justify;
}


/*Ajustes no segundo content*/

.container > .content-2{
    display:flex;
    justify-content: center;
    align-items:center;
    align-content: space-evenly;
    background-color:aliceblue;
    padding: 3em;
    opacity: 0.8;
}

/*Content dos hobbies*/

.container > .content-2 > .content-hobbies{
    display:flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 1em;
}

.container > .content-2 > .content-hobbies > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(32, 0, 61);
    font-size: 1.5em;
    padding-bottom:0.8em;
    padding-right:1.6em; 
}

.container > .content-2 > .content-hobbies > .hobbies-flex > ul{
    display: flex;
    justify-content: center;
    gap:1em;
    list-style: none;
    padding:3em;
}

.container > .content-2 > .content-hobbies > .hobbies-flex > ul > .estilo-lista{
    position:relative;
    background-color: rgb(248, 201, 246);
    width: 8em;
    height:11em;
    border-radius: 5%;
}

.container > .content-2 > .content-hobbies > .hobbies-flex > ul > .estilo-lista > li{
    position:absolute;
    bottom:1em;
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:1em;
}

/*Content dos tops*/

.container > .content-2 > .content-tops{
    display:flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 1em;
}

.container > .content-2 > .content-tops > .tops-flex > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(32, 0, 61);
    font-size: 1.5em;
    padding-bottom:0.8em;
    padding-left:1.6em;
}

.container > .content-2 > .content-tops > .tops-flex > ol{
    display: flex;
    justify-content: center;
    gap:1em;
    list-style: none;
    padding:3em;
}

.container > .content-2 > .content-tops > .tops-flex > ol > .estilo-tops{
    position:relative;
    background-color: rgb(248, 201, 246);
    width: 8em;
    height:11em;
    border-radius: 5%;
}

.container > .content-2 > .content-tops > .tops-flex > ol > .estilo-tops > li{
    position:absolute;
    bottom:1em;
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:1em;
}

.container > .content-2 > .content-tops > .tops-flex > ol > .estilo-tops > .colocacao{
    position:absolute;
    top:0;
    left:0.5em;
    background-color: rgb(245, 67, 97);
    color:white;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0.8em 0.5em;
}




